html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.header-container,
.hero-container,
.header-links {
    background-color: #1F2937;
    color: #FFFFFF;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.header-logo {
    margin-right: 2em;
    font-size: 1.5em;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

li {
    list-style: none;
}

a,
.hero-text {
    text-decoration: none;
    font-size: 1.12em;
    color: #E5E7EB;
}

.hero-container {
    display: flex;
    justify-content: space-around;
}

.hero-wrapper {
    display: flex;
    margin: 0 auto;
    flex: 0 1 50%;
}

.hero-info-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 45%;
    margin-right: auto;
    height: 75%;
    margin-bottom: 5em;
}

.hero-main {
    font-size: 3em;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-btn {
    color: #F9FAF8;
    font-weight: 600;
    background-color: #3882F6;
    padding: 0.5em 2em;
    border: none;
    border-radius: 0.4em;
    margin-top: 1em;
}

.placeholder-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    flex: 0 1 50%;
    background-color: grey;
}